@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Anton: "Anton";
  --font-Archivo: "Archivo";
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  background: #16363d;
  color: var(--foreground);
}

ul,
ol {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton";
}
p {
  font-family: "Archivo";
}
textarea {
  resize: none;
}
.headBG {
  background: #16363d;
  position: relative;
}
.headBG:before {
  content: "";
  background: url(../public/images/bg.jpg) no-repeat center -1px;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mobileIcon,
.NavIcon {
  width: 52px;
  height: 52px;
  background: #eeecde;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.menu-open .mobileIcon,
.menu-open .NavIcon {
  background: #16363d;
}

.desktopView {
  display: block;
}
.Hamberger {
  display: none;
}

.menu-open .desktopView {
  display: none;
}
.menu-open .Hamberger {
  display: block;
}

.HambergerMenu {
  overflow: visible;
  height: auto;
  opacity: 1;
  width: 100%;
  padding: 64px;
  display: grid;
  gap: 24px;
  text-align: center;
  background: url(../public/images/HambergerBG.png) no-repeat center 0;
  border-radius: 16px 16px 34px 34px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 8px 0 0;
}
.headerBox {
  height: 68px;
  transition: ease-in-out 0.5s;
  border-radius: 34px;
  overflow: hidden;
}
.menu-open .headerBox {
  background: #eeecde;
  filter: none;
  height: 571px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.slide-up {
  opacity: 0;
  transform: translateY(40px);
}
.menu-open .slide-up {
  animation: slideUp 0.15s forwards;
}
.slide-up:nth-child(1) {
  animation-delay: 0.2s;
}
.slide-up:nth-child(2) {
  animation-delay: 0.4s;
}
.slide-up:nth-child(3) {
  animation-delay: 0.6s;
}
.slide-up:nth-child(4) {
  animation-delay: 0.8s;
}
.slide-up:nth-child(5) {
  animation-delay: 1s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.textShow {
  display: inline-block;
  position: relative;
}
.textShow:before {
  position: absolute;
  left: -100%;
  top: 0;
  content: "error 404 error 404 error 404";
  font-family: "Anton";
  font-weight: 400;
  font-size: 290px;
  line-height: 113%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d2e7d3;
  opacity: 0.2;
  filter: blur(7.445px);
}

.cstmRadio input,
.cstmCheckBox input {
  display: none;
}
.cstmRadio input + label,
.cstmCheckBox input + label {
  position: relative;
  color: #16363d;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-Archivo);
  text-transform: uppercase;
  background: rgba(22, 54, 61, 0.08);
  border-radius: 100px;
  padding: 21px 32px;
  display: block;
  line-height: 18px;
}
.cstmRadio input:checked + label,
.cstmCheckBox input:checked + label {
  background: #16363d;
  color: #eeecde;
}

.contactForm input {
  /* height: 66px; */
  background: rgba(255, 255, 255, 0.07);
  color: #eeecde;
}
.contactForm textarea {
  /* height: 158px; */
  background: rgba(255, 255, 255, 0.07);
  color: #eeecde;
}

.darkBG {
  background: #16363d !important;
}
.darkBG .relative:before {
  background: rgba(238, 236, 222, 0.15) !important;
}
.darkBG p,
.darkBG h3 {
  color: #eeecde;
}

.btmSpace h2 {
  padding-bottom: 116px;
}

/* Highlighted text for HeroText */
.highlight {
  background: rgba(233, 245, 172, 1);
  color: rgba(22, 54, 61, 1);
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  border-radius: 3px;
  padding: 0.1rem 0.25rem 0.05rem;
}

html {
  scroll-behavior: smooth;
}
[id] {
  scroll-margin-top: 120px; /* Match your sticky header height */
}

a.toc-active {
  color: #199e88 !important;
  border-color: #199e88 !important;
  background: #eaf0e7 !important;
}

.owl-stage {
  display: flex !important;
}
.owl-nav,
.owl-dots,
.owl-nav,
.owl-dots {
  display: none !important;
}
.owl-carousel {
  overflow: hidden;
}
.owl-carousel:not(.owl-loaded) {
  visibility: hidden;
}

.fileInput {
  border: 1px dashed rgba(22, 54, 61, 0.4);
  height: 120px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.fileInput input {
  display: none;
}
.fileInput span {
  font-family: "Archivo";
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: rgba(22, 54, 61, 1);
}
.fileInput span strong {
  color: #0f947e;
}
.fileInput p {
  font-family: "Archivo";
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: rgba(22, 54, 61, 0.5);
}

/*** Media Started ***/

@media (max-width: 1279px) {
  .btmSpace h2 {
    padding-bottom: 102px;
  }
}
@media (max-width: 1024px) {
  .btmSpace h2 {
    padding-bottom: 92px;
  }
  .cstmRadio input + label,
  .cstmCheckBox input + label {
    padding: 13px 16px;
    font-size: 14px;
  }
  .fileInput {
    height: 100px;
  }
}

@media (max-width: 767px) {
  .btmSpace h2 {
    padding-bottom: 84px;
  }
  .headerBox {
    height: 52px;
  }
  .mobileIcon,
  .NavIcon {
    height: 44px;
    width: 44px;
  }
  .logo img {
    height: 42px;
    width: auto;
  }
  .headerBox {
    border-radius: 24px;
  }
  .menu-open .headerBox {
    height: 396px;
  }
  .HambergerMenu {
    padding: 40px 10px;
    border-radius: 12px 12px 24px 24px;
    margin-top: 10px;
  }
}

@media (max-width: 639px) {
  .headBG:before {
    background-size: cover;
  }
}
